 /* modal */
 .containe {
  display: flex;
  justify-content: center;
  align-items: center;

}

.modal-overlay {
  background: #f00;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 90%;
  max-width: 500px;
  background-color: #303030;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
}


.titulomodal{
  color:#52BA7C;
}

.titulomodal2{
  color:#D83434;
}

.musicasmodal{
  margin-top: 16px;
  margin-bottom: 4px;
  color:#52BA7C;
}

.buttonmodal {
  padding: 5px;
  font-size: large;
  float: right;
  cursor: pointer;
  background: #D83434;
  border:0;
  color:#fff;
  border-radius: 5px;
  margin-top: 16px;
}

.buttonmodal2 {
  width: 100%;
  padding: 5px;
  font-size: large;
  float: right;
  cursor: pointer;
  background: #D83434;
  border:0;
  color:#fff;
  border-radius: 5px;
  margin-top: 16px;
}

.buttonmodalOk{
  padding: 5px;
  font-size: large;
  float: right;
  cursor: pointer;
  background: #52BA7C;
  border:0;
  color:#fff;
  border-radius: 5px;
  margin-top: 16px;
  margin-right: 4px;
}

.buttonmodalOk2{
  width: 100%;
  padding: 5px;
  font-size: large;
  float: right;
  cursor: pointer;
  background: #52BA7C;
  border:0;
  color:#fff;
  border-radius: 5px;
  margin-top: 16px;
  margin-right: 4px;
}

a{
  color:#6959CD;
  transition: all ease-in 0.1s;
}
a:hover{
  color:#2d6e47;
}

.ContainerModalEscalas{
  margin-bottom: 16px;
}

.TituloCardEscalaModal{
  text-decoration: underline #cdcdcd;
}

.ContentAncora{
  margin-top: 8px;
}

.DivInput{
  margin-bottom: 8px;
}

.DivBtn{
  display:flex;
  justify-content: center;
  align-items: center;
}

.inputMod{
  width:100%;
  height:32px;
  border:0;
  padding: 10px;
  border-radius: 8px;
}

.inputMod:focus{
  outline: none;
}

.TituloAvisoss{
  margin-bottom: 16px;
}

.inputModArea{
  width:100%;
  height: 50px;
}
