 /* modal */
 .containe {
  display: flex;
  justify-content: center;
  align-items: center;

}

.modal-overlay {
  background: #f00;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 90%;
  max-width: 500px;
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
}
h2{
  color:#52BA7C;
}
h3{
  margin-top: 16px;
  margin-bottom: 4px;
  color:#52BA7C;
}

button {
  padding: 5px;
  font-size: large;
  float: right;
  cursor: pointer;
  background: #D83434;
  border:0;
  color:#fff;
  border-radius: 5px;
  margin-top: 16px;
}
